h2{
    color: red;
}
.top{
    margin: 50px  auto;
    width: 500px;
}


.erro{
border: 1px solid black;
   
 padding: 10px;
  margin-top: 30px;
  background-color: tomato;
  text-align: center;
}
.namta{
border: 1px solid black;
   
 padding: 10px;
  margin-top: 30px;
  background-color: tomato;
  text-align: center;
}

.book{
border: 1px solid black;
   
 padding: 10px;
  margin-top: 30px;
  background-color: yellow;
  text-align: center;
}

.namta ul{
    list-style: none;
}
.start{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}